<FillUp
  class="article"
  @breakpoints={{this.breakpoints}}
>
  <div class="title">
    {{this.title}}
  </div>

  <div class="author">
    <span class="by">by</span>
    <span class="author-name">{{this.author}}</span>
  </div>

  <div class="date">
    <span class="on">
      on
    </span>
    <span class="formatted-date">
      {{this.formattedDate}}
    </span>
  </div>

  <div class="post">
    {{this.post}}
  </div>
</FillUp>