<h1>Comparisons</h1>

comparisonValue
<div id="comparisonValue">
  {{comparisonValue}}
</div>

greaterThanWidth
<div id="comparisonGreaterThanWidth">
  {{greaterThanWidth}}
</div>

greaterThanHeight
<div id="comparisonGreaterThanHeight">
  {{greaterThanHeight}}
</div>

lessThanWidth
<div id="comparisonLessThanWidth">
  {{lessThanWidth}}
</div>

lessThanHeight
<div id="comparisonLessThanHeight">
  {{lessThanHeight}}
</div>

equalToWidth
<div id="comparisonEqualToWidth">
  {{isEqualToWidth}}
</div>

equalToHeight
<div id="comparisonEqualToHeight">
  {{isEqualToHeight}}
</div>

<h1>With Explicit Width Constants</h1>

<div id="comparisonGreaterThanWithWidthConstant">
  {{greaterThanWithWidthConstant}}
</div>

<div id="comparisonLessWithWidthConstant">
  {{lessThanWithWidthConstant}}
</div>

<div id="comparisonIsEqualToWithWidthConstant">
  {{isEqualToWithWidthConstant}}
</div>
